$mainBackground: rgba(24, 24, 24, 1);
$mainText: rgba(255, 255, 255, 1);
$mainObject: rgb(136, 136, 136);

body {
    background-color: $mainBackground;
    font-family: 'Balsamiq Sans', cursive;
    color: $mainText;
}

.textObject {
    color: $mainObject;
}