<script>
        switch (`<%= msg %>`) {
            case 'Hola' :
                for(let i = 0; i<`<%= time %>`; i++) {
                    `<p><%=msg %> <%= ID %></p>`
                }
            break;
            case 'Adios' :
                for(let i = 0; i<`<%= time %>`; i++) {
                    `<p><%=msg %> <%= ID %></p>`
                }
            break;
            case 'Bienvenido' :
                for(let i = 0; i<`<%= time %>`; i++) {
                    `<p><%=msg %> <%= ID %></p>`
                }
            break;
    }
    </script>