<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student" method="POST">
        <label for="Fname">Primer nombre:</label>
        <input type="text" id="Fname" name="Fname"><br><br>
        <label for="Lname">Apellido</label>
        <input type="text" id="Lname" name="Lname"><br><br>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>