p {
    font-family: Verdana, sans-serif;
    color: blue;
  }

h1 {
  font-family: Verdana, sans-serif;
    color: crimson;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
